@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
  color: white;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-family: "Silkscreen", sans-serif;
}

#logo i {
  color: yellow;
}

header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(46, 46, 46);
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Silkscreen", sans-serif;
}

main {
  background: rgb(33, 6, 74);
  background: linear-gradient(
    0deg,
    rgba(33, 6, 74, 1) 0%,
    rgba(4, 0, 66, 1) 100%
  );
}

.title-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 92.7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-bg .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(61, 49, 80, 0.3);
  border-radius: 28px;
  width: 70%;
  line-height: 50px;
  text-align: center;
}

.text {
  /* margin-top: 5%; */
  padding: 10px;
}

.text h3 {
  margin: 2% 0;
  font-size: 22px;
  font-family: "Silkscreen", sans-serif;
}

.title-bg h1 {
  font-family: "Silkscreen", sans-serif;
  font-size: 70px;
  font-weight: 700;
  font-style: italic;
  line-height: 100px;
}

.title-bg hr {
  width: 35%;
  border-radius: 5px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  gap: 50px;
  justify-content: center;
  padding: 100px 0;
  flex-wrap: wrap;
}

.cards-container .card {
  background-color: #2e2e2e;
  padding: 15px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  align-items: center;
  overflow: hidden;
}

.card a {
  font-size: 28px;
  font-family: 'Silkscreen', sans-serif;
  line-height: 60px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 28px;
}

.direitos {
  background-color: #2e2e2e;
  text-align: center;
}

.direitos span {
  color: white;
  line-height: 100px;
}

.direitos hr {
  margin: 0px;
  border-top: 1px solid #dadada;
}

#startpage-bg {
  background-image: linear-gradient(to bottom, transparent, #120346),
  url(media/universe.jpg);
}

#sobre-bg {
  background-image: url(media/about.webp);
}

#planets-bg {
  background-image: url(media/solar-system.webp);
}

#card-home {
  width: 50%;
  padding-bottom: 0;
}

iframe {
  margin: 15px;
  width: 100%;
  border-radius: 28px;
}

.about-container {
  padding: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.about-container .about-text {
  text-align: left;
}

.about-container .about-text h2 {
  margin: 20px 0;
}

.text-img {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.text-img img {
  max-width: 250px;
}

.contato {
  padding: 25px;
  border-radius: 25px;
  background-color: #2f2e41;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato button {
  margin: 25px 0 0;
  line-height: 30px;
  width: 100px;
  background-color: #120346;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 20px;
  appearance: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

form .form-container {
  align-items: center;
}

form .form-container label {
  margin-right: 15px;
}

form .form-container input {
  border-style: none;
  border-radius: 20px;
  line-height: 30px;
  text-align: center;
  color: black;
}